#include "ZipMsg.h"

// SPANISH - Translated by WalySoft (walysoft@usa.net) 13/11/98

STRINGTABLE {
        GE_NoZipSpecified, "Error - archivo zip no especificado!"
        GE_FatalZip,       "Error Fatal en ZipDLL.DLL: excepción abortar"
        GE_NoMem,          "Memoria solicitada no disponible"
        GE_WrongPassword,  "Error - las claves de acceso no concuerdan\nClave de Acceso ignorada"
        GE_CopyFile,       "Copiando: "

        PW_UnatAddPWMiss   "Error - no se ha dado clave de acceso para agregar"
        PW_UnatExtPWMiss   "Error - no se ha dado clave de acceso para extraer"

        LI_ReadZipError,   "Error de búsqueda leyendo archivo Zip!"
        LI_ErrorUnknown,   "Error desconocido en función List()"
        LI_WrongZipStruct, "Precaución - Error en la estructura del zip!"
        LI_GarbageAtEOF,   "Precaución - Basura al final del archivo zip!"

        AD_NothingToZip,   "Error - no hay archivos en el zip!"
        AD_UnattPassword,  "Acción sin atención no es posible sin clave de acceso"
        AD_NoFreshenUpdate,"Agregar/Refrescar o Agregar/Actualizar no es posible en un archivo particionado"

        DL_NothingToDel,   "Error - no se seleccionaron archivos para borrar"

        EX_FatalUnZip,     "Error Fatal en UnzDLL.DLL: excepción abortar"
        EX_UnAttPassword,  "Precaución - Extracción sin atención: posiblemente no todos los archivos se hayan extraído"

        LZ_ZipDllLoaded,   "ZIP DLL Cargado"
        LZ_NoZipDllExec,   "función ZipDllExec no encontrada en ZIPDLL.DLL!"
        LZ_NoZipDllVers,   "función GetZipDllVersion no encontrada en ZIPDLL.DLL!"
        LZ_NoZipDll,       "ZIPDLL.DLL no encontrado!"

        LU_UnzDllLoaded,   "UNZDLL Cargado!"
        LU_NoUnzDllExec,   "función UnzDllExec no encontrado en UNZDLL.DLL!"
        LU_NoUnzDllVers,   "función GetUnzDllVersion no encontrado en UNZDLL.DLL!"
        LU_NoUnzDll,       "UNZDLL.DLL no encontrado!"

        SF_StringToLong,   "Error - El tamaño total las 3 propiedades de texto sobrepasan 245!"
        SF_NoZipSFXBin,    "Error - ZIPSFX.BIN no encontrado!"
        SF_InputIsNoZip,   "Error: el archivo de entrada no es un archivo zip"

        CZ_NoExeSpecified, "Error - no se expecifico archivo .EXE"
        CZ_InputNotExe,    "Error: el archivo de entrada no es un archivo .EXE"
        CZ_SFXTypeUnknown, "Error determinando el tipo de archivo SFX (autoextractable)"

        DS_NoInFile,       "El archivo de entrada no existe"
        DS_FileOpen,       "El archivo zip no puede aer abierto"
        DS_NotaDrive,      "No es una unidad válida: %s"
        DS_DriveNoMount,   "La unidad NO esta definida: %s"
        DS_NoVolume,       "No se puede escribir la etiqueta de volumen"
        DS_NoMem,          "No hay suficiente memoria para mostrar MsgBox"
        DS_Canceled,       "Operación cancelada por el Usuario"
        DS_FailedSeek,     "Error de búsqueda en el archivo de entrada"
        DS_NoOutFile,      "Falló la creación del archivo de salida"
        DS_NoWrite,        "Error de escritura en el archivo de salida"
        DS_EOCBadRead,     "Error leyendo el Final del Directorio Central"
        DS_LOHBadRead,     "Error leyendo cabecera local"
        DS_CEHBadRead,     "Error leyendo cabecera central"
        DS_LOHWrongSig,    "Una signatura de la cabecera local es errónea"
        DS_CEHWrongSig,    "Una signatura de la cabecera central es errónea"
        DS_LONameLen,      "Error leyendo nombre de archivo local"
        DS_CENameLen,      "Error leyendo nombre de archivo central"
        DS_LOExtraLen,     "Error leyendo campo local extra"
        DS_CEExtraLen,     "Error leyendo campo central extra"
        DS_DataDesc,       "Error leyendo/escribiendo área de descriptor de datos"
        DS_ZipData,        "Error leyendo datos zipeados"
        DS_CECommentLen,   "Error leyendo un comentario de fichero"
        DS_EOArchComLen,   "Error leyendo el comentario de archivo"
        DS_ErrorUnknown,   "Error desconocido en la función ReadSpan() o WriteSpan()"
        DS_NoUnattSpan,    "Partición en varios discos sin atención, no implementada"
        DS_EntryLost,      "No se encontró cabecera local en estructura interna"
        DS_NoTempFile,     "No pudo ser creado el archivo temporal"
        DS_LOHBadWrite,    "Error escribiendo la cabecera local"
        DS_CEHBadWrite,    "Error escribiendo la cabecera central"
        DS_EOCBadWrite,    "Error escribiendo el Fin del Directorio Central"
        DS_ExtWrongSig,    "Error leyendo signatura local Extendida"
        DS_NoDiskSpace,    "Este disco no tiene suficiente espacio libre disponible"
        DS_InsertDisk,     "Por favor inserte el último disco"
        DS_InsertVolume,   "Por favor inserte el disco %.1d de %.1d"
        DS_InDrive,        "\nen unidad: %s"
        DS_NoValidZip,     "Este no es un archivo Zip válido"
        DS_FirstInSet,     "Este es el primero de un juego de discos,\npor favor inserte el último disco de este juego"
        DS_NotLastInSet,   "Este es el disco %d de un juego de discos,\npor favor inserte el últimmco de este juego"
        DS_AskDeleteFile,  "Ya existe un archivo %s\n¿Desea sobreescribir este archivo?"
        DS_AskPrevFile,    "ATENCIÓN: Este es le previo disco Nro. %d!!!\n¿Está seguro que desea sobreescribir su contenido?"
        DS_NoSFXSpan,      "Error - Archivos autodescomprimibles (.exe) no pueden ser particionados"
        DS_CEHBadCopy,     "Error copiando nombre de archivo de una estructura CEH"
        DS_EOCBadSeek,     "Error de búsqueda salteando una estructura EOC"
        DS_EOCBadCopy,     "Error copiando el comentario del archivo zip"
        DS_FirstFileOnHD,  "Este es el primer archivo en un juego de discos,\npor favor elija el último de este juego"
}
