#include "ZipMsg.h"

STRINGTABLE {
   GE_FatalZip,  "Фатальная ошибка в модуле ZipDLL.DLL: вызвано исключение аварийного завершения"
   GE_NoZipSpecified, "Ошибка - не указано имя zip файла!"
   GE_NoMem,  "Невозможно выделить запрошенный объем памяти"
   GE_WrongPassword, "Ошибка - пароль НЕ совпадает\nПароль проигнорирован"
   GE_CopyFile, "Копирую: "

   RN_ZipSFXData,  "Ошибка при копировании заголовка SFX"
   RN_NoRenOnSpan, "Переименование не применено для многотомного архива"
   RN_ProcessFile, "Обрабатываю: "
   RN_RenameTo, " переименован в: "

   PW_UnatAddPWMiss,	 "Ошибка - не указан пароль для добавления"
   PW_UnatExtPWMiss,	 "Ошибка - не указан пароль для разархивации"

   LI_ReadZipError,    "Ошибка позиционирования при чтении ZIP архива!"
   LI_ErrorUnknown,    "Неизвестная ошибка в функции List()"
   LI_WrongZipStruct,  "Внимание - Ошибка в структуре zip файла!"
   LI_GarbageAtEOF,    "Внимание - мусор в конце zip файла!"

   AD_NothingToZip,    "Ошибка - нет файлов для архивации!"
   AD_UnattPassword,   "Попытка произвести автоматическое действие, не возможное без пароля"
   AD_NoFreshenUpdate, "Функции AddFreshen или AddUpdate не применимы для многотомных архивов"
   AD_AutoSFXWrong,    "Возникла ошибка %.1d при автоматическом создании SFX."

   DL_NothingToDel,    "Ошибка - не выбраны файлы для удаления"

   EX_FatalUnZip,      "Фатальная ошибка в модуле UnzDLL.DLL: вызвано исключение аварийного завершения"
   EX_UnAttPassword,   "Внимание - Автоматическое Извлечение: возможно, не все файлы извлечены"
   EX_NoStreamDLL,     "Ошибка - ваша библиотека UnzDLL.dll не может использовать потоки, обновите ее до версии >=1.60"

   LZ_ZipDllLoaded,	 "ZIP DLL Загружена!"
   LZ_NoZipDllExec,	 "Функция ZipDllExec не найдена в ZIPDLL.DLL!"
   LZ_NoZipDllVers,	 "Функция GetZipDllVersion не найдена в ZIPDLL.DLL!"
   LZ_NoZipDll,		 "Файл ZIPDLL.DLL не найден!"

   LU_UnzDllLoaded,	 "UNZDLL Загружена!"
   LU_NoUnzDllExec,	 "Функция UnzDllExec не найдена в UNZDLL.DLL!"
   LU_NoUnzDllVers,	 "Функция GetUnzDllVersion не найдена в UNZDLL.DLL!"
   LU_NoUnzDll,		 "Файл UNZDLL.DLL не найден!"

   SF_StringToLong,   "Ошибка - Одна или более из 4-х строк свойств, указанных ниже, больше 255 символов"

   SF_NoZipSFXBin,    "Ошибка - файл ZIPSFX.BIN не найден!"
   SF_InputIsNoZip,   "Ошибка: входной файл не является zip файлом"

   CZ_NoExeSpecified, "Ошибка - не указан .EXE файл"
   CZ_InputNotExe,    "Ошибка: входной файл не является .EXE файлом"
   CZ_SFXTypeUnknown, "Ошибка определения типа SFX архива"

   DS_NoInFile,		 "Входной файл не существует"
   DS_FileOpen,		 "Zip файл не может быть открыт"
   DS_NotaDrive,	 "Неверное имя диска: %s"
   DS_DriveNoMount,	 "Устройство %s НЕ определено"
   DS_NoVolume,		 "Метка тома не может быть установлена"
   DS_NoMem,		 "Нехватает памяти для вывода окна сообщения(MsgBox)"
   DS_Canceled,		 "Пользователь отменил операцию"
   DS_FailedSeek,	 "Ошибка позиционирования во входном файле"
   DS_NoOutFile,	 "Ошибка создания выходного файла"
   DS_NoWrite,		 "Ошибка записи в выходной файл"
   DS_EOCBadRead,	 "Ошибка при чтении Конца Центрального Каталога(End Of Central Directory)"
   DS_LOHBadRead,	 "Ошибка при чтении локального заголовка"
   DS_CEHBadRead,	 "Ошибка при чтении центрального заголовка"
   DS_LOHWrongSig,	 "Сигнатура локального заголовка неверна"
   DS_CEHWrongSig,	 "Сигнатура центрального заголовка неверна"
   DS_LONameLen,	 "Ошибка при чтении локального имени файла"
   DS_CENameLen,	 "Ошибка при чтении центрального имени файла"
   DS_LOExtraLen,	 "Ошибка при чтении локального дополнительного поля"
   DS_CEExtraLen,	 "Ошибка при чтении центрального дополнительного поля"
   DS_DataDesc,		 "Ошибка при чтении/записи области описания данных"
   DS_ZipData,		 "Ошибка при чтении упакованных данных"
   DS_CECommentLen,	 "Ошибка при чтении комментарий к файлу"
   DS_EOArchComLen,	 "Ошибка при чтении комментарий к архиву"
   DS_ErrorUnknown,	 "Неизвестная ошибка в функции ReadSpan() или WriteSpan()"
   DS_NoUnattSpan,	 "Автоматическое разбиение архива на тома не применимо"
   DS_EntryLost,	 "Локальный заголовок не найден во внутренней структуре"
   DS_NoTempFile,	 "Невозможно создать времменый файл"
   DS_LOHBadWrite,	 "Ошибка при записи локального заголовка"
   DS_CEHBadWrite,	 "Ошибка при записи центрального заголовка"
   DS_EOCBadWrite,	 "Ошибка при записи Конца Центральной Директории(End Of Central Directory)"
   DS_ExtWrongSig,	 "Ошибка при чтении Расширенной Локальной Сигнатуры"
   DS_NoDiskSpace,	 "На этом диске не хватает свободного места"
   DS_InsertDisk,	 "Вставьте последний диск"
   DS_InsertVolume,	 "Вставьте диск %.1d из %.1d"
   DS_InDrive,		 "\nв устройство: %s"
   DS_NoValidZip,	 "Данный архив не является Zip архивом"
   DS_FirstInSet,	 "Это первый диск в резервном наборе,\nвставьте последний диск из этого набора"
   DS_NotLastInSet,	 "Это %d-й диск в резервном наборе,\nвставьте последний диск из этого набора"
   DS_AskDeleteFile,	 "Файл %s уже существует\nВы хотите переписать этот файл?"
   DS_AskPrevFile,	 "ВНИМАНИЕ: Это предыдущий диск, не %d!!!\nВы уверены, что нужно перезаписать содержимое?"
   DS_NoSFXSpan,	 "Ошибка - самораспаковывающиеся (.exe) архивы не могут быть многотомными"
   DS_CEHBadCopy,	 "Ошибка при копировании имени файла CEH структуры"
   DS_EOCBadSeek,	 "Ошибка позиционирования при пропуске EOC структуры"
   DS_EOCBadCopy,	 "Ошибка при копировании комментарий zip архива"
   DS_FirstFileOnHD,	 "Это первый файл в резервном наборе,\nвыберите последний файл из этого набора"
   DS_InsertAVolume,     "Вставьте диск %.1d"
}
